.main-account-container {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 2%;
  margin-top: 5%;
  position: sticky;
  align-self: flex-start;
  width: 20%;
  margin-right: 7%;
}

.account-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: sticky; */
}

.account-title {
    padding: 5px 10px;
    font-size: 20px;
    border-bottom: 1px solid #a7a3a3;
}

.account-link {
  padding: 5px 10px;
  font-size: 18px;
  border-bottom: 1px solid #a7a3a3;
  text-decoration: none;
  color: #000;
}

.account-link:hover {
  background-color: #e6e1e171;
  cursor: pointer;
}

.active{
    border-left: 5px solid #3f8be2;
}

.intro-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.intro-title {
  font-size: 20px;
  margin-bottom: 2%;
}

.intro-user, .intro-email {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2%;
}

.intro-message {
  font-size: 18px;
  margin-bottom: 2%;
}
