/*First component container*/
.trial-first-div {
    margin-top: 5%;
}

.full-budgets-div {
    display: flex;
    flex-direction: row;
}

/*Table styling*/
.table-area-div {
    display: flex;
    padding-top: 5%;
    margin-left: 1%;
    padding-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding-bottom: 3%;
    border-radius: 10px;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px   #0173714a;
    position: absolute;
    height: 780px;
}

table {
    border-collapse: collapse; 
    border-spacing: 0 1px;
    border-radius: 10px;
    table-layout: fixed;
    width: 20%;
    margin-left: 1%;
}

.date-from-col {
    width: 20%;
}

.date-to-col {
    width: 18%;
}

.budget-row {
    border-top: 1px solid rgba(224, 224, 224, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    background-color: #d2c1f012;
}

th, td {
    width: 100%;
    padding: 7px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.see-more {
    width: 10%;
    text-align: center;
}

.see-more-link {
    text-decoration: none;
    color: #1976d2;
    font-weight: 600;
    font-size:x-large;
    padding: 7px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.clicked {
    border-left: 5px solid #3f8be2!important;
    background-color: rgba(25, 118, 210, 0.08);
 }

/*Pagination*/
.budget-pagination-div {
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;
    bottom: 3%;
}

/*Header*/
.header-div {
   display: flex;
   flex-direction: column;
   margin-left: 1.5%;
}

/*Add budget link*/
.add-budget-link {
    text-decoration: none;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    color: #3344DD;
 }
 
 .add-first-budget-link {
    text-decoration: none;
    margin-left: 1%;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    color: #3344DD;
 }
.add-budget-link:hover,
.add-first-budget-link:hover {
   color: #017371;
}

/*Bar chart*/
.bar-div {
   height: 550px;
   width: 750px;
}

/*Delete budget modal*/
.budget-modal-buttons-div {
    display: flex;
    justify-content: space-around;
  }
  
  .date-delete-modal {
    font-weight: 600;
    letter-spacing: 0.05em;
  }
  

