.budget-div {
    display: flex;
    padding: 5%;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    /* box-sizing: content-box; */
    align-items: flex-start;
    /* flex-flow: row wrap; */
  }

  .data-div {
   max-width: 100%;
  }

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
top:auto !important;
}


  /* Menu bar @media (min-width: 1536px) */
.css-19r6kue-MuiContainer-root {
    max-width: none !important;
}

/*Budget info*/
 .css-11fl05d-MuiList-root,
 .css-1r5wa48-MuiList-root {
    padding-left: 2% !important;
 }

 .css-ptkaw2-MuiDataGrid-root {
    border: none !important;
 }

 .income-icon {
    background-color: #04d979 !important;
 }

 .essential-icon {
    background-color: #a30f1b !important;
 }

.non-essential-icon {
    background-color: #efb908 !important;
}

.arrow-icon {
    background-color: #1976d2 !important;
    cursor: pointer;
}

.savings-icon {
   background-color: #1976d2 !important;
}

/*edit button link*/
.edit-button {
   margin-right: 1%;
   margin-left: 5%;
}

.last-list-item {
   margin-bottom: 7%;
}

/*Divider*/
.css-9mgopn-MuiDivider-root {
   border-color: black !important;
}

/*Expenses lists containers*/
.css-1r5wa48-MuiList-root  {
   margin-top: 0.6% !important;
}

/*Chart*/
.css-4qu052-MuiResponsiveChart-container>svg {
   align-self: start !important;
   margin-right: 1% !important;
   width:100% !important;
   height:auto !important;
}

.css-5d9yge-MuiResponsiveChart-container {
   margin-top: 1% !important;
   width:100% !important;
   height:auto !important;
}

/*Selected table row*/
.Mui-selected {
   border-left: 5px solid #3f8be2!important;
}