.change-psw-main-container{
    display: flex;
    align-items: center;
    margin-left: 8.5%;
}

.change-psw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    width: 100%;
}

.new-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 7%;
    border-radius: 10px;
    font-weight: 500;
}

.change-psw-input {
    border: 1px solid #b4b4b4;
    border-radius: 7px;
    padding: 2%;
    margin-top: 1%;
}

.psw-form-information {
    margin-top: 2%;
    font-weight: 700; 
}