.all-email-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
}

.update-email-container,
.delete-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-email-container {
    margin-left: 75%;
}

.email-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 7%;
    width: 120%;
    border-radius: 10px;
    font-weight: 500;
}

.submit-container,
.submit-delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.submit-delete-container {
    width: 50%;
}

.submit-button,
.delete-email-button {
    width: 50%;
    cursor: pointer;
}

.email-input {
    border: 1px solid #b4b4b4;
    border-radius: 7px;
    padding: 2%;
    margin-top: 1%;
}

.form-information,
.delete-information {
    display: flex;
    justify-content: center;
    width: 160%;
}

.update-title,
.delete-title {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 600;
    color: #017371;
    text-transform: uppercase;
    font-size:large;
}

.delete-message-container {
    display: flex;
    margin-top: 1.7%;
}