/*Login page principal container*/
.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
    width: 100%;
}

/*Form container*/
.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4%;
    padding-right: 4.5%;
    padding-left: 4.5%;
    padding-bottom: 1.5%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px #0173714a;
}

/*Form title*/
.login-form-title {
    font-weight: 400;
    color: #017371;
    text-transform: uppercase;
    font-size:xx-large;
    margin-bottom: 10%;
    letter-spacing: 0.07em;
}

/*Form content*/
.login-form {
    display: flex;
    flex-direction: column;
}

/*Form inputs*/
.login-username-container,
.login-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 3%;
}

.login-username-input,
.login-password-input {
    border: 1px solid #0173714a;
    border-radius: 7px;
    padding: 2%;
    margin-top: 1%;
    box-shadow: 0 0 10px #1616164a;
}

.login-username-input:focus-visible,
.login-password-input:focus-visible {
    outline: none;
}

.login-username-input:focus,
.login-password-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(32 201 151 / 9%);
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
}

.login-password-input {
    margin-bottom: 5%;
}

/*Register redirect*/
.register-redirect-message {
    margin-top: 12%;
    font-weight: 500;
    font-size: large;
}

.register-redirect-link {
    color: #017371;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
}

.register-redirect-link:hover {
    color:#1668b9;
    font-weight: 600;
}

/*Forgot password redirect*/
.forgot-password-div {
    display: flex;
    align-self: center;
    margin-top: 20%;
}

.forgot-password-link {
    text-decoration: none;
    color: #017371;
    font-weight: 400;
}

.forgot-password-link:hover {
    color: #1668b9;
    font-weight: 500;
}