.main-bar-chart-div {
    margin: 1%;
    border: 1px solid #e0e0e0;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px   #0173714a;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    margin-top: 10.3%;
}

.main-bar-chart-div-dark {
    background-color: #1e14a70a;
    border: 1px solid #3f8be2a3;
    box-shadow: 0 0 10px #3f8be25a;
}

.empty-budget-chart-message {
    margin-left: 2%;
    margin-top: 1%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3344DD;
    text-decoration: none;
}

.empty-budget-chart-message:hover {
    color: #017371;
}

/*Media queries*/
@media (max-width: 1850px) {
    .main-bar-chart-div {
        margin-top: 12%;
    }
}

@media (max-width: 1700px) {
    .main-bar-chart-div {
        margin-top: 14%;
    }
}

@media (max-width: 1500px) {
    .main-bar-chart-div {
        margin-top: 16%;
    }
}

@media (max-width: 1300px) {
    .main-bar-chart-div {
        margin-top: 18%;
    }
}

@media (max-width: 900px) {
    .main-bar-chart-div {
        margin-top: 25%;
    }
}

@media (max-width: 600px) {
    .main-bar-chart-div {
        margin-top: 30%;
    }
}

@media (max-width: 500px) {
    .main-bar-chart-div {
        margin-top: 35%;
    }
}