.main-bar-chart-div {
    margin: 1%;
    border: 1px solid #e0e0e0;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px   #0173714a;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    margin-top: 10.3%;
}

.empty-budget-chart-message {
    margin-left: 2%;
    margin-top: 1%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3344DD;
    text-decoration: none;
}

.empty-budget-chart-message:hover {
    color: #017371;
}

/* .MuiPopper-root {
    width: 50% !important;
} */