.change-psw-main-container{
    display: flex;
    align-items: center;
    margin-left: 8.5%;
}

.change-psw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

.change-psw-info-container {
    margin-bottom: 5%;
}

.new-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 7%;
    border-radius: 10px;
    font-weight: 400;
}

.change-psw-input {
    border: 1px solid #0173714a;
    border-radius: 7px;
    padding: 2%;
    margin-top: 1%;
}

.change-psw-input:focus-visible {
    outline: none;
}

.change-psw-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(32 201 151 / 9%);
}

.psw-form-information {
    margin-top: 2%;
    margin-bottom: 10%;
    font-weight: 400;
    color: #017371;
    text-transform: uppercase;
    font-size:larger;
}

.new-psw-button-div {
    margin-top: 4%;
}

/* Password checklist */
.password-checklist > li.valid > span {
    font-weight: 400;
}

.password-checklist > li.invalid > span {
    font-weight: 200;
}

