.change-psw-main-container{
    display: flex;
    align-items: center;
    margin-left: 8.5%;
}

.change-psw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

.change-psw-info-container {
    margin-bottom: 5%;
}

.new-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 7%;
    border-radius: 10px;
    font-weight: 400;
}

.change-psw-input {
    border: 1px solid #0173714a;
    border-radius: 7px;
    padding: 2%;
    margin-top: 1%;
}

.change-psw-input:focus-visible {
    outline: none;
}

.change-psw-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(32 201 151 / 9%);
}

.change-psw-input-dark {
    background-color: #1d14a711;
    color: white;
    border: 1px solid #3f8be236;
}

.change-psw-input-dark:focus {
    box-shadow: 0 0 0 0.25rem rgba(32, 142, 201, 0.09); 
}

.change-psw-input-dark:-webkit-autofill,
.change-psw-input-dark:-webkit-autofill:hover,
.change-psw-input-dark:-webkit-autofill:focus,
.change-psw-input-dark:-webkit-autofill:active {
    color: white;
}

.change-psw-input:-webkit-autofill {
    -webkit-text-fill-color: black;
    -webkit-background-clip: text;
}

.change-psw-input-dark:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
}

.psw-form-information {
    margin-top: 2%;
    margin-bottom: 10%;
    font-weight: 400;
    color: #017371;
    text-transform: uppercase;
    font-size:larger;
}

.psw-form-information-dark {
    color: rgba(5,815,313,0.8);
}

.new-psw-button-div {
    margin-top: 4%;
}

/* Password checklist */
.password-checklist > li.valid > span {
    font-weight: 400;
}

.password-checklist > li.invalid > span {
    font-weight: 200;
}

/*Media queries*/
/*1500px width*/
@media (max-width: 1500px) {
    .change-psw-main-container {
        margin-left: 15%;
    }
}

/*750px width*/
@media (max-width: 750px) {
    .change-psw-main-container {
        flex-direction:column;
        margin-left: 0%;
        width: 100%;
    }
    .change-psw-container {
        margin-top: 5%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .change-psw-form {
        display: flex;
        flex-direction: column;
    }
}

/*500px width*/
@media (max-width: 500px) {
    .change-psw-form {
        width: 90%;
    }
    .psw-form-information {
        font-size: large;
    }
    .new-password-container label,
    .password-checklist  li  span {
        font-size: 15px;
    }
    .password-checklist  li svg {
        width: 16px;
        height: 16px;
    }
}