.all-email-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
    /* width: 100%; */
}

.update-email-container,
.delete-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-email-container {
    display: flex;
    width: 100%;
}

.email-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
    width: 120%;
    border-radius: 10px;
    font-weight: 400;
}

.submit-container,
.submit-delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.submit-delete-container {
    width: 50%;
}

.submit-button,
.delete-email-button {
    width: 50%;
    cursor: pointer;
}

.email-input {
    border: 1px solid #0173714a;
    border-radius: 7px;
    padding: 2%;
    margin-top: 1%;
}

.email-input:focus-visible {
    outline: none;
}

.email-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(32 201 151 / 9%);
}

.email-input-dark {
    background-color: #1d14a711;
    color: white;
    border: 1px solid #3f8be236;
}

.email-input-dark:focus {
    box-shadow: 0 0 0 0.25rem rgba(32, 142, 201, 0.09); 
}

.email-input:-webkit-autofill {
    -webkit-text-fill-color: black;
    -webkit-background-clip: text;
}

.email-input-dark:-webkit-autofill:hover, 
.email-input-dark:-webkit-autofill:focus, 
.email-input-dark:-webkit-autofill:active {
    color: white;
}

.email-input-dark:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
}

.form-information,
.delete-information {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5%;
}

.update-title,
.delete-title {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 400;
    color: #017371;
    text-transform: uppercase;
    font-size:larger;
}

.update-title-dark,
.delete-title-dark {
    color: rgba(5,815,313,0.8);
}

.delete-message-container {
    display: flex;
    margin-top: 1.7%;
    width: 60%;
    text-align: justify;
}

/*Media queries*/
/*1500px width*/
@media (max-width: 1500px) {
    .all-email-container {
        margin-left: 10%;
    }
    .email-container {
      width: 100%;
    }
}

/*1300px width*/
@media (max-width: 1300px) {
    .delete-message-container {
        width: 78%;
    }
}

/*1150px width*/
@media (max-width: 1150px) {
    .all-email-container {
        flex-direction: column;
        align-items: center;
        width: 70%;

    }
    .update-email-container,
    .delete-email-container {
        width: 60%;
        margin-right: 13%;
    }
    .delete-email-container {
        margin-top: 7%;
        padding-top: 5%;
        border-top: 1px solid #0173714a;
    }
}