/*Register page principal container*/
.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    width: 100%;
}

/*Form container*/
.register-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4%;
    padding-right: 4.5%;
    padding-left: 4.5%;
    padding-bottom: 2%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px #0173714a;
}
.register-main-dark {
    background-color: #1e14a70a;
    border: 1px solid #3f8be2a3;
    box-shadow: 0 0 10px #3f8be25a;
}

/*Form title*/
.register-form-title {
    font-weight: 400;
    color: #017371;
    text-transform: uppercase;
    font-size:xx-large;
    margin-bottom: 12%;
}

.register-form-title-dark {
    color: rgba(5,815,313,0.8);
}

/*Form content*/
.register-container {
    display: flex;
    flex-direction: column;
}

/*Form inputs*/
.reg-username-container,
.reg-email-container,
.reg-password-container,
.reg-new-password-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 3%;
}

.reg-username-input,
.reg-email-input,
.reg-password-input {
    border: 1px solid #0173714a;
    border-radius: 7px;
    padding: 2%;
    margin-top: 1%;
}

.reg-username-input-dark,
.reg-email-input-dark,
.reg-password-input-dark {
    background-color: #1d14a711;
    color: white;
    border: 1px solid #3f8be236;
}

.reg-username-input:focus-visible,
.reg-email-input:focus-visible,
.reg-password-input:focus-visible {
    outline: none;
}

.reg-username-input:focus,
.reg-email-input:focus,
.reg-password-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(32 201 151 / 9%);
}

.reg-username-input-dark:focus,
.reg-email-input-dark:focus,
.reg-password-input-dark:focus {
    box-shadow: 0 0 0 0.25rem rgba(32, 142, 201, 0.09);
}

.reg-username-input:-webkit-autofill,
.reg-email-input:-webkit-autofill,
.reg-password-input-dark:-webkit-autofill { 
    -webkit-text-fill-color: black;
    -webkit-background-clip: text;
}

.reg-username-input-dark:-webkit-autofill,
.reg-email-input-dark:-webkit-autofill,
.reg-password-input-dark:-webkit-autofill { 
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
}

.reg-new-password-container {
    margin-bottom: 8%;
}

/*Login redirect*/
.login-redirect-message {
    margin-top: 4%;
    font-weight: 500;
    font-size: large;
}

.login-redirect-link {
    color: #017371;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
}

.login-redirect-link-dark {
    color: rgba(5,815,313,0.8);
}

.login-redirect-link:hover {
    color:#1668b9;
    font-weight: 600;
}

.login-redirect-link-dark:hover {
    color: #2f97ff;
}

/*Media queries*/
@media (max-width: 1850px) {
    .register-form-container {
        margin-top: 12%;
    }
}

@media (max-width: 1700px) {
    .register-form-container {
        margin-top: 14%;
    }
}

@media (max-width: 1500px) {
    .register-form-container {
        margin-top: 16%;
    }
}

@media (max-width: 1300px) {
    .register-form-container {
        margin-top: 18%;
    }
}

@media (max-width: 900px) {
    .register-form-container {
        margin-top: 25%;
    }
}
@media (max-width: 750px) {
    .register-main {
        width: 80%;
    }
    .register-container {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .register-main {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .register-form-container {
        margin-top: 30%;
    }
    .register-main {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .register-form-container {
        margin-top: 35%;
    }
}