/*Main container*/
.password-reset-request-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #d2c1f012;
  padding: 10%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px #0173714a;
}

.password-reset-request-div-dark {
  background-color: #1e14a70a;
  border: 1px solid #3f8be2a3;
  box-shadow: 0 0 10px #3f8be25a;
}

/*Title and information*/
.password-reset-page-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.password-reset-page-title {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 10%;
    text-transform: uppercase;
    color: #017371;
}

.password-reset-page-title-dark {
    color: rgba(5, 815, 313, 0.8);
}

.password-reset-page-message {
    font-size: large;
    font-weight: 400;
}

/*Form container*/
.password-reset-request-form {
  display: flex;
  flex-direction: column;
}

.password-reset-email-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 5%;
}

.password-reset-email-input {
  border: 1px solid #0173714a;
  border-radius: 7px;
  padding: 2%;
  margin-top: 1%;
}

.password-reset-email-input-dark {
  background-color: #1d14a711;
  color: white;
  border: 1px solid #3f8be25a;
}

.password-reset-email-input:focus-visible {
  outline: none;
}

.password-reset-email-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(32 201 151 / 9%);
}

.password-reset-email-input-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(32, 142, 201, 0.09);
}

.password-reset-email-input:-webkit-autofill { 
  -webkit-text-fill-color: black;
  -webkit-background-clip: text;
}

.password-reset-email-input-dark:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
}

/*Media queries*/
@media (max-width: 1850px) {
  .password-reset-request-div  {
    margin-top: 12%;
  }
}

@media (max-width: 1700px) {
  .password-reset-request-div  {
    margin-top: 14%;
  }
}

@media (max-width: 1500px) {
  .password-reset-request-div  {
    margin-top: 16%;
  }
}

@media (max-width: 1300px) {
  .password-reset-request-div  {
    margin-top: 18%;
  }
}

@media (max-width: 900px) {
  .password-reset-request-div {
    margin-top: 25%;
  }
}

@media (max-width: 800px) {
  .password-reset-page-message {
    font-size: medium;
  }
  .password-reset-page-title {
    font-size: 23px;
  }
}

@media (max-width: 710px) {
  .password-reset-page-message {
    font-size: 15px;
  }
  .password-reset-page-title {
    font-size: 22px;
    text-align: center;
}
}

@media (max-width: 600px) {
  .password-reset-request-div  {
    margin-top: 30%;
    padding: 5%;
  }
}

@media (max-width: 550px) {
  .new-line {
    display: none;
  }
  .password-reset-page-message {
    text-align: justify;
  }
}

@media (max-width: 500px) {
  .password-reset-request-div  {
    margin-top: 35%;
  }
  .password-reset-request-form {
    max-width: 100%;
  }
  .password-reset-email-container label,
  .password-reset-email-input::placeholder,
  .password-reset-email-input {
    font-size: 15px;
  }
}