.password-reset-complete-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #d2c1f012;
    padding-top: 8%;
    padding-right: 8%;
    padding-left: 8%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px #0173714a;
}

.password-reset-messages-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password-reset-complete-div-dark {
  background-color: #1e14a70a;
  border: 1px solid #3f8be2a3;
  box-shadow: 0 0 10px #3f8be25a;
}

.password-reset-complete-title {
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 15%;
  text-transform: uppercase;
  color: #017371;
}

.password-reset-complete-title-dark {
  color: rgba(5, 815, 313, 0.8);
}

.password-reset-complete-message {
  font-size: large;
  font-weight: 400;
}

.password-reset-complete-link {
  margin-top: 7%;
  font-size: xx-large;
  font-weight: 500;
  color: #017371;
  text-decoration: none;
  margin-bottom: 5%;
}

.password-reset-complete-link:hover {
  color: #1668b9;
}

.password-reset-complete-link-dark {
  color: rgba(5, 815, 313, 0.8);
}

.password-reset-complete-link-dark:hover {
  color: #2f97ff;
}