.reset-sent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #d2c1f012;
  padding: 10%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px #0173714a;
}

.password-reset-send-title {
  font-size: larger;
  font-weight: 500;
  margin-bottom: 2%;
  text-transform: uppercase;
  color: #017371;
}

.password-reset-sent-message {
  font-size: large;
  font-weight: 400;
}