/*First component container*/
.trial-first-div {
    margin-top: 5%;
}

.full-budgets-div {
    display: flex;
    flex-direction: row;
}

/*Table styling*/
.table-area-div {
    display: flex;
    padding-top: 5%;
    margin-left: 1%;
    padding-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding-bottom: 3%;
    border-radius: 10px;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px #0173714a;
    position: absolute;
    height: 780px;
}

.date-from-col,
.date-to-col,
.see-more {
    width: 100%;
    padding: 7px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.44;
    letter-spacing: 0.01071em;
}

.dark-table-area-div {
    background-color: #1d14a711;
    border: 1px solid #3f8be2a3;
    box-shadow: 0 0 10px   #3f8be25a;
}

.budgets-table {
    border-collapse: collapse; 
    border-spacing: 0 1px;
    border-radius: 10px;
    table-layout: fixed;
    width: 20%;
    margin-left: 1%;
}

.table-col-title {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(1, 115, 113);
    font-size: medium;
}

.dark-col-title {
    color: rgba(5,815,313,0.8);
}

.date-from-col {
    width: 20%;
}

.date-to-col {
    width: 18%;
}

.budget-row {
    border-bottom: 1px solid rgba(1, 115, 113, 0.144);
    border-top: 1px solid #1976d2ad;
}

.dark-row {
    border-bottom: 1px solid rgba(118, 238, 236, 0.144);
    border-top: 1px solid #3b94ecad;
}

.budget-row:hover {
    background-color: rgba(1, 115, 113, 0.03);
}

.dark-row:hover {
    background-color: rgba(118, 238, 236, 0.03);
}

.see-more {
    width: 10%;
    text-align: center;
}

.see-more-link {
    text-decoration: none;
    color: #1976d2;
    font-weight: 600;
    font-size:x-large;
    padding: 7px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.clicked {
    border-left: 5px solid #3f8be2;
    background-color: rgba(1, 115, 113, 0.059);
 }

.clicked.dark-row {
    border-left: 5px solid #479af9;
    background-color: rgba(118, 238, 236, 0.03);
} 

/*Pagination*/
.budget-pagination-div {
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;
    bottom: 3%;
}

/*Header*/
.header-div {
   display: flex;
   flex-direction: column;
   margin-left: 1.5%;
   width: 15%;
}

.budgets-page-header {
    text-transform: uppercase;
    font-size: xx-large;
}

/*Add budget link*/
.add-budget-link {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: 600;
    font-size:larger;
    letter-spacing: 1.5px;
    color: #3344DD;
}

.dark-add-budget-link {
    color: #2f97ff;
}

.add-first-budget-link {
    text-decoration: none;
    margin-left: 1%;
    font-weight: 600;
    font-size: larger;
    letter-spacing: 1.5px;
    color: #3344DD;
 }
.add-budget-link:hover,
.add-first-budget-link:hover {
   color: #017371;
}

.dark-add-budget-link:hover {
    color: rgba(5,815,313,0.8);
}

/*Delete budget modal*/
.budget-modal-buttons-div {
    display: flex;
    justify-content: space-around;
    margin-top: 9%;
}
  
.date-delete-modal {
    font-weight: 400;
    color: #017371;
    font-size: 1.15rem;
    letter-spacing: -0.045em;
}


