/*First component container*/
.trial-first-div {
    margin-top: 6%;
}

.full-budgets-div {
    display: flex;
    flex-direction: row;
}

/*Table styling*/
.table-area-div {
    display: flex;
    padding-top: 5%;
    margin-left: 1%;
    padding-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    padding-bottom: 3%;
    border-radius: 10px;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px #0173714a;
    position: absolute;
    height: 780px;
}

.date-from-col,
.date-to-col,
.see-more {
    width: 100%;
    padding: 7px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.44;
    letter-spacing: 0.01071em;
}

.dark-table-area-div {
    background-color: #1e14a70a;
    border: 1px solid #3f8be2a3;
    box-shadow: 0 0 10px   #3f8be25a;
}

.budgets-table {
    border-collapse: collapse; 
    border-spacing: 0 1px;
    border-radius: 10px;
    table-layout: fixed;
    width: 20%;
    margin-left: 1%;
}

.table-col-title {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(1, 115, 113);
    font-size: medium;
}

.dark-col-title {
    color: rgba(5,815,313,0.8);
}

.date-from-col {
    width: 20%;
}

.date-to-col {
    width: 18%;
}

.budget-row {
    border-bottom: 1px solid rgba(1, 115, 113, 0.144);
    border-top: 1px solid #1976d2ad;
}

.dark-row {
    border-bottom: 1px solid rgba(118, 238, 236, 0.144);
    border-top: 1px solid #3b94ecad;
}

.budget-row:hover {
    background-color: rgba(1, 115, 113, 0.03);
}

.dark-row:hover {
    background-color: rgba(118, 238, 236, 0.03);
}

.see-more {
    width: 10%;
    text-align: center;
}

.see-more-link {
    text-decoration: none;
    color: #1976d2;
    font-weight: 600;
    font-size:x-large;
    padding: 7px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.clicked {
    border-left: 5px solid #3f8be2;
    background-color: rgba(1, 115, 113, 0.059);
 }

.clicked.dark-row {
    border-left: 5px solid #479af9;
    background-color: rgba(118, 238, 236, 0.03);
} 

/*Pagination*/
.budget-pagination-div {
    margin-top: 1%;
    position: absolute;
    bottom: 8%;
    max-width: 20%;
}

/*Header*/
.header-div {
   display: flex;
   flex-direction: column;
   margin-left: 1.5%;
   width: 15%;
}

.budgets-page-header {
    text-transform: uppercase;
    font-size: xx-large;
}

/*Add budget link*/
.add-budget-link {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: 600;
    font-size:larger;
    letter-spacing: 1.5px;
    color: #3344DD;
}

.dark-add-budget-link {
    color: #2f97ff;
}

.add-first-budget-link {
    text-decoration: none;
    margin-left: 1%;
    font-weight: 600;
    font-size: larger;
    letter-spacing: 1.5px;
    color: #3344DD;
 }
.add-budget-link:hover,
.add-first-budget-link:hover {
   color: #017371;
}

.dark-add-budget-link:hover {
    color: rgba(5,815,313,0.8);
}

/*Delete budget modal*/
.budget-modal-buttons-div {
    display: flex;
    justify-content: space-around;
    margin-top: 9%;
}
  
.date-delete-modal {
    font-weight: 400;
    color: #017371;
    font-size: 1.15rem;
    letter-spacing: -0.045em;
    margin: 2%;
}

.date-delete-modal-dark {
    color: rgba(5,815,313,0.8);
}

/*Modal media queries*/
/*768px*/
@media (max-width: 768px) {
    .date-delete-modal {
        font-size: 1rem;
    }
}

/*300px*/
@media (max-width: 300px) {
    #parent-modal-description-dates {
        font-size: 0.9rem;
    }
    .date-delete-modal {
        font-size: 0.85rem;
        margin: 0;
    }
}

/*Media queries*/
/*2300px*/
@media (max-width: 2300px) {
    .trial-first-div {
        margin-top: 7%;
    }
}

/*2050px*/
@media (max-width: 2050px) {
    .trial-first-div {
        margin-top: 8%;
    }
}

/*1750px*/
@media (max-width: 1750px) {
    .trial-first-div {
        margin-top: 9%;
    }
}

/*1500px*/
@media (max-width: 1500px) {
    .trial-first-div {
        margin-top: 10.5%;
    }
    .header-div {
        width: 20%;
    }
    .table-area-div {
        height: 1200px;
    }
    .budgets-table {
        width: 25%;
    }
    .budget-pagination-div {
        bottom: 42%;
        max-width: 25%;
    }
}

/*1300px*/
@media (max-width: 1300px) {
    .full-budgets-div {
        flex-direction: column;
        margin-bottom: 2%;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        background-color: #d2c1f012;
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 10px #0173714a;
        border-radius: 10px;
    }
    .full-budgets-div-dark {
        background-color: #1e14a70a;
        border: 1px solid #3f8be2a3;
        box-shadow: 0 0 10px   #3f8be25a;
    }
    .trial-first-div {
        margin-top: 12.5%;
    }
    .dark-table-area-div,
    .table-area-div {
        border: none;
        box-shadow: none;
    }
    .table-area-div {
        position: relative;
        height: auto;
        align-items: center;
    }
    .budgets-table {
        width: 80%;
    }
    .budget-pagination-div {
        bottom: -5%;
        left: 10%;
        max-width: 80%;
    }
    .header-div {
        margin-left: 5%;
        margin-bottom: 2%;
    }
}

/*1100px*/
@media (max-width: 1100px) {
    .trial-first-div {
        margin-top: 14.5%;
    }
    .header-div {
        width: 30%;
    }
}

/*900px*/
@media (max-width: 900px) {
    .trial-first-div {
        margin-top: 16.5%;
    }
}

/*750px*/
@media (max-width: 750px) {
    .trial-first-div {
        margin-top: 20%;
    }
    .header-div {
        width: 45%;
    }
}

/*600px*/
@media (max-width: 600px) {
    .trial-first-div {
        margin-top: 22%;
    }
}

/*500px*/
@media (max-width: 500px) {
    .header-div {
        width: 70%;
    }
}

/*450px*/
@media (max-width: 450px) {
    .trial-first-div {
        margin-top: 25%;
    }
}

/*365px*/
@media (max-width: 365px) {
    .header-div {
        width: 100%;
    }
}

/*350px*/
@media (max-width: 350px) {
    .trial-first-div {
        margin-top: 30%;
    }
}