/*Expenses lists and  chart container*/
.budget-lists {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-top: 5.6%;
  width: 100%;
}

/*Expenses lists*/
.budgets-edit-delete-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1%;
}

.expenses-totals-lists {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  width: 100%;
  padding-bottom: 1%;
}

.dark-border {
  border-bottom: 1px solid rgba(5,815,313,0.6);
}

.light-border {
  border-bottom:1px solid rgba(1,115,113,0.5);
}

.expenses-only-div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.expenses-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Totals list*/
.totals-list-div {
  display: flex;
  width: 40%;
  justify-content: center;
  margin-left: 2%;
}

/*Bar chart*/
.bar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 87%;
  margin-right: 0.5%;
  margin-left: 1%;
  margin-bottom: 1%;
}

/*Edit and delete button links*/
.edit-delete-links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 1%;
  padding-top: 4%;
  margin-bottom: 2%;
}

.light-edit-del-links-border {
  border-top: 1px solid rgba(1,115,113,0.5);
}

.dark-edit-del-links-border {
  border-top: 1px solid rgba(5,815,313,0.6);
}

/*Edit link and delete button*/
.edit-budget-link,
.delete-budget-button {
  z-index: 2;
  font: inherit;
  cursor: pointer;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: uppercase;
  color: #3344DD;
  font-size: medium;
  font-weight: 600;
}

.dark-edit-budget-link,
.dark-delete-budget-button {
    color: #2f97ff;
}

.edit-budget-link:hover,
.delete-budget-button:hover {
  color: #017371;
}

.dark-edit-budget-link:hover,
.dark-delete-budget-button:hover {
  color: rgba(5,815,313,0.8);
}

.delete-budget-button {
  background: none;
  border: none;
}

.edit-budget-link {
  text-decoration: none;
  padding: 0;
}

/*Media queries*/

/*1500px*/
@media (max-width: 1500px) {
  .budget-lists {
    flex-direction: column;
    margin-left: 15%;
  }
  .bar-div {
    margin-top: 1%;
    padding-top: 2%;
    height: 500px;
    margin-left: 17%;
    width: 80%;
  }
  .budgets-edit-delete-div {
    width: 80%;
    margin-left: 17%;
    border-bottom: 1px solid rgba(1,115,113,0.5);
  }
  .budgets-edit-delete-div-dark {
    border-bottom: 1px solid rgba(5,815,313,0.6);
  }
  .light-edit-del-links-border {
    padding-bottom: 2%;
    margin-bottom: 1%;
    border-bottom: 1px solid rgba(1,115,113,0.5);
  }
  .dark-edit-del-links-border {
    padding-bottom: 2%;
    margin-bottom: 1%;
    border-bottom: 1px solid rgba(5,815,313,0.6);
  }
}

/*1300px*/
@media (max-width: 1300px) {
  .budget-lists {
    margin-left: 0;
    align-items: center;
  }
  .budgets-edit-delete-div {
    margin-left: 1%;
  }
  .bar-div {
    margin-top: 2%;
    padding-top: 2%;
    height: 500px;
    margin-left: 0;
    width: 80%;
    border: none;
  }
}

/*750px*/
@media (max-width: 750px) {
  .budgets-edit-delete-div {
    width: 95%;
  }
  .bar-div {
    width: 95%;
  }
}

/*760px*/
@media (max-width: 760px) {
  .expenses-totals-lists {
    flex-direction: column;
  }
  .expenses-only-div {
    width: 100%;
  }
  .totals-list-div {
    display: block;
    width: 100%;
    margin-top: 2%;
    margin-left: 0;
    margin-right: 0;
  }
  .totals-first-div {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .totals-inner-div-1 {
    display: flex;
    flex-direction: row;
    width: 45%;
  }
  .totals-inner-div-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .totals-second-div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .bar-div {
    height: 440px;
}
}

/*635px*/
@media (max-width: 635px) {
  .totals-first-div {
    flex-direction: column;
  }
  .totals-inner-div-1 {
    width: 100%;
  }
  .edit-budget-link, 
  .delete-budget-button {
    font-size: 15px;
  }
  .bar-div {
    height: 360px;
    width: 100%;
  }
}