.budget-form-inputs-main-container {
  margin-bottom: 1.5%;
}

.form-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4.2%;
  }
  
  .full-form-area {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 50%;
    border: 1px solid #e0e0e0;
    background-color: #d2c1f012 ;
    box-shadow: 0 0 10px   #0173714a;  
  }
  
  .form-header-container {
    display: flex;
    width: 45%;
    margin-top: 3%;
  }

.form-header {
  font-size: xx-large;
  text-transform: uppercase;
}

  /* Date and budget input containers*/
  .date-inputs-container,
  .expenses-group-div {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    width: 100%;
    justify-content: space-between;
  }

  .date-from-inputs-container,
  .date-to-inputs-container,
  .expenses-input-div {
    width: 48%;
  }

  .label-div {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-top: 1%;
    width: 100%;
    border-bottom: 1px solid rgba(1,115,113,0.5);
    border-top: 1px solid rgba(1,115,113,0.5);
  }
