html, body, #root {
  /* background-color: rgb(228, 228, 228) !important; */
  background-image: url("./assets/3415325.jpg");
}
#root{
  /* min-width: 100vw; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center; */
  background-color: rgb(228, 228, 228);
  color: white;
}

.full-form-area {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  background: rgba(16, 15, 39, 0.734);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 45%;
}

.form-control {
  background: rgba(26, 24, 49, 0.734) !important;
  color: white !important;
}

.form-control::placeholder {
  color: white !important;
}

.btn-outline-primary {
  align-self: center !important;
}

.app-title {
  text-align: center;
  color:#0d6efd;
  font-weight: bold;
}

.income-input,
.list-group-item-success {
  background-color: #04d979 !important;
  font-weight: bold;
  color: black !important;
}

.essential-input,
.list-group-item-danger {
  background-color:#a30f1b !important;
  font-weight: bold;
  color: black !important;
}

.non-essential-input,
.list-group-item-warning {
  background-color: #efb908 !important;
  font-weight: bold;
  color: black !important;
}

.list-group-item-primary {
  background-color:#0d6efd !important;
  font-weight: bold;
  color: black !important;
}

.budget-div {
  background: rgba(16, 15, 39, 0.734);
  padding: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  width: 45%;
}

.list-group-item {
  border: none !important;
}

.list-group {
  border: solid 1px rgb(248, 248, 255) !important;
}

/* Menu bar @media (min-width: 1536px) */
.css-19r6kue-MuiContainer-root {
    max-width: none !important;
}

.css-ptkaw2-MuiDataGrid-root,
.css-pdct74-MuiTablePagination-selectLabel,
.css-194a1fa-MuiSelect-select-MuiInputBase-input.MuiSelect-select,
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,
.css-levciy-MuiTablePagination-displayedRows,
/* .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar,
.MuiTablePagination-actions */
.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled
  {
  color: white !important;
}