* {
  font-family: "Poppins" , "sans-serif";
}

/*Base styling settings*/
html, body {
  margin: 0;
  padding: 0;
}

html {
  min-width: 100%;
  min-height: 100%;
}

#root {
  min-width: 100vw;
}

body, #root, .app {
  margin: 0;
  max-width: 100vw;
  height: 100vh;
}

.app {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/*Light mode and dark mode*/
.light {
  background-color: #f8f8ff;
  color: #11111c;
}

.dark {
  background-color: #11111c;
  color: #f8f8ff;
}